* {
    font-family: "Pixelated MS Sans Serif";
    box-sizing: border-box;
    image-rendering: pixelated;
    font-size: 14px;
}

.screen_container {
    width: 530px;
    height: 530px;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    background: #008080;
}

@keyframes lines {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 0px 25px;
    }
}

.scheda_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 490px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1000;
        background: repeating-linear-gradient(0deg, #111 0px, #111 1px, transparent 2px, transparent 7px);
        background-size: 100% 5px;
        animation: lines 5s ease-out infinite;
        opacity: 0.3;
        mix-blend-mode: color-burn;
        pointer-events: none;
    }
}

.folder {
    color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &_title {
        margin-top: 5px;
        padding: 1px 2px;
        border: 1px solid rgba(0, 0, 0, 0);
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &_icon {
        width: 32px;
        height: 32px;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        .folder_icon {
            width: 32px;
            height: 32px;
            mask-image: url("../img/old_icons/my-documents-folder-32x32.png");
            -webkit-mask-image: url("../img/old_icons/my-documents-folder-32x32.png");
            background: #010081;
            opacity: 0.5;
        }

        .folder_title {
            background: #010081;
            border: white dotted 1px;
        }
    }
}

.document {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    margin-top: 25px;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &_title {
        margin-top: 5px;
        padding: 1px 2px;
        border: 1px solid rgba(0, 0, 0, 0);
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 24px;
    }

    &_icon {
        width: 32px;
        height: 32px;
        bottom: 29px;
        position: absolute;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        .document_icon {
            width: 32px;
            height: 32px;
            mask-image: url("../img/old_icons/notepad-file-32x32.png");
            -webkit-mask-image: url("../img/old_icons/notepad-file-32x32.png");
            background: #010081;
            opacity: 0.5;
        }

        .document_title {
            background: #010081;
            color: #eaeaea;
            border: white dotted 1px;
        }
    }

}

.datafolder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 110px;
    font-weight: 600;

    &>img {
        height: 32px;
        width: 32px;
    }

    &>div {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: inherit;
        z-index: 1;
        padding-right: 25px;
    }

    &>div::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: .07em;
        height: .2em;
        width: 100%;
        background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
        z-index: -1;
        transition: height .25s cubic-bezier(.6, 0, .4, 1);
    }
}

.filelist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.warning {
    width: 320px;
    z-index: -2;
    position: absolute;
    display: block;
    opacity: 0;

    &_body {
        display: flex;
        justify-content: space-around;

        img {
            height: 100%;
        }

        .warning_text {
            width: 250px;
        }
    }

    & button {
        cursor: pointer;
    }
}

.folder_content {
    width: 330px;
    height: 260px;
    z-index: -2;
    position: absolute;
    background-color: #fdffff;
    opacity: 0;

    &_window {
        height: 227px;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;

        &>.window-body {
            display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            // justify-content: space-around;
            margin-top: 20px;
            color: #000;
        }
    }
}

.text_content {
    width: 420px;
    height: 350px;
    z-index: -2;
    position: absolute;
    background-color: #fdffff;
    opacity: 0;

    &_window {
        height: 317px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &>.window-body {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            color: #000;
        }
    }
}

.button_container {
    margin-top: 10px;
    display: flex;

    .safe {
        margin-right: 15px;
    }
}

.title-bar-controls>button:hover {
    cursor: pointer;
}

.footer {
    border-top: solid #c3c3c3 3px;
    line-height: 40px;
    height: 40px;
    font-size: large;
    background: #c3c3c3;
    text-align: center;

    &:before {
        position: absolute;
        display: block;
        content: '';
        width: 530px;
        border-top: 2px solid white;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

// In fondo perché il css è un po' paxxerello
.active {
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

// Eheh, memes
.wait {
    cursor: wait !important;

    &:hover {
        cursor: wait !important;
    }
}