* {
    font-family: "Pixelated MS Sans Serif";
    box-sizing: border-box;
    font-size: 16px;
}

.crispy {
    * {
        image-rendering: pixelated;
    }
    padding-right: 2px;

    i {
        color: #0B8A20;
    }
}

.lefty {
    display: inline;
    float: left;
    margin-right: 8px
}

.righty {
    display: inline;
    float: right;
}

p {
    padding: 5px 0px;
    line-height: 20px;
}

h3 {
    text-align: center;
}

hr {
    margin-bottom: 5px;
}

.banner {
    img {
        display: inline;
    }
}